// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$dropdown-link-active-bg:#f7f7f9;
$dropdown-link-active-color:#black;
$font-weight-normal:200;

