@import "bootstrap";
@import "customvariable"; //self-defined variables


/*
################
              1. General
################
*/
html, body {
  font-family: "sofia-pro",sans-serif;
  font-style: normal;
  font-weight: 200;
  position: relative;
}


/*
################
              2. Header
################
*/

/* ==========================================================================
2.1 Nav Bar
========================================================================== */
.bg-faded   {
  background-color: transparent;
  transition: all ease .5s;
  z-index: 999;
  //box-shadow: 1px 1px 10px #b0b0b0;
  border-bottom: none;

    @media screen and(max-width: 576px) {
      margin-bottom: 64px;
      background: white;
    }
  .container {


    button.navbar-toggler.navbar-toggler-left {

      @media screen and(max-width: 576px) {
        position: relative;
        left: -30px;
      }
    }

    .navbar-brand {
      @media screen and(max-width: 576px) {
        color: black;
      }
      color: white;
      padding-top: 0rem;
      padding-bottom: 0;
      p {
        margin-top:0.5rem;
        margin-bottom:0.5rem;
        letter-spacing: 4px;
        font-weight: 300;
      }

    }

    .navbar-nav {
       .nav-item {

         .nav-link {
           @media screen and (max-width: 576px) {
             color: black;
           }
           color: white;
           transition: all 0.3s linear;
           &:hover{
             color: #dadada;
           }

           .dropdown-item {
               display: block;
               width: 100%;
               padding: 3px 1.5rem;
               clear: both;
               font-weight: 200;
               color: #292b2c;
               text-align: inherit;
               white-space: nowrap;
               border: 0;
               background-color: #fff;
               &:active,&.active {
                 background-color: #f7f7f9;
                 color: gray;
               }
             }


         }



       }
    }


  }

  &.background {
    background-color: white;
    box-shadow: 1px 1px 10px $shadow-black;

    .navbar-brand {
      color: black;


    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: black;
          transition: all 0.3s linear;
          &:hover{
            color: black;
          }

          .dropdown-item {
            display: block;
            width: 100%;
            padding: 3px 1.5rem;
            clear: both;
            font-weight: 200;
            color: #292b2c;
            text-align: inherit;
            white-space: nowrap;
            border: 0;
            background-color: #fff;
            &:active,&.active {
              background-color: #f7f7f9;
              color: gray;
            }
          }


        }



      }
    }
  }


}

 //since safari does not suppot position:sticky
 .sticky-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
   width: 100%;
   text-align: center;
}



/*
################
             3. Home page
################
*/
/* ==========================================================================
3.1 Slider
========================================================================== */
.slider {
  //position: relative;


  .container {
    padding: 0;
    margin: 0;
    width: 100%;
    height:90vh;

    #carouselExampleControls {
      .text-wrapper {
        position: relative;
        top:40vh;
        color: white;
        animation-delay: 0.25s;

        [class*='col-sm'] {
          @media screen and (max-width: 414px) {
            margin-left: 10px;
            text-align: center;
            margin-right:10px

          }
          .btn-cta {
            padding: 8px 16px;
            color: black;
            background: white;
            display: inline-block;
            margin-top: 12px;
            font-size: 12px;
            -webkit-box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);
            box-shadow:0 1px 7px rgba(0, 0, 0, 0.3);

          }
        }

      }
    }
    .scrollformore {
      position: relative;
      text-align: center;
      top:-50px;
      color: white;
      p{
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 12px;
      }

      a {
        color: white;
        i {
          color: white;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

  }
}


/* ==========================================================================
3.2 About
========================================================================== */
 .about {
    margin-top:0;
    padding-top:0;
    background: $brand-inverse;
    height:350px;
    padding-top:18px;


    @media screen and (max-width:576px) {
      height:450px;
    }

    .container {
        color:white;
        .carousel-inner{
            .carousel-item {
                    .container {

                       [class*="col-sm-"] {
                            h4 {
                              margin-top:40px;
                            }

                            p {
                              margin-top:56px;
                              text-align:justify;
                              font-size: 0.8rem;
                              animation-delay:1s;
                            }
                        }
                    }
            }
        }

             .controller {
                  position: absolute;
                  top: 70px;
                  left: 46px;
                      a {
                        color:White;
                        opacity:0.6;
                        display:inline-block;
                        font-weight:300;
                        font-size:0.8rem;
                      }
             }

    }
 }
//about ends



/* ==========================================================================
3.3 features
========================================================================== */

.features {
      padding-bottom:72px;
      .container {
           h4 {
              padding:56px 0 72px;
              font-weight:500;
            }

          .row {

                img {
                  display:block;
                  margin: 0 auto;
                }
                .firstcol {


                    img {

                      -webkit-animation-name: indi-fade;
                      -webkit-animation-iteration-count: infinite;
                      -webkit-animation-duration: 4s;
                      -webkit-animation-timing-function:ease-in-out;
                      display:block;
                      margin: 0 auto;
                    }





                    #a {
                      animation-delay:6s;
                    }

                    #b {
                      animation-delay:3s;
                    }

                    #c {
                      animation-delay:0s;
                    }

                  @-webkit-keyframes fade {
                    0% {
                      opacity:1;
                    }
                    22% {
                      opacity:1;
                    }
                    33% {
                      opacity:0;
                    }
                    89% {
                      opacity:0;
                    }
                    100% {
                      opacity:1;
                    }

                  }

                  @-webkit-keyframes indi-fade {
                    0% {
                      opacity:1;
                    }
                    33% {
                      opacity:1;
                    }
                    67% {
                      opacity:1;
                    }

                    100% {
                      opacity:0;
                    }

                  }




                  }


                  .text {

                    h3 {
                      margin-top:24px;
                    }

                    hr {
                      height:3px;
                      background:lightgray;
                      opacity:0.5;
                    }

                    p {  font-size:0.85rem;
                      @media screen and (max-width:576px) {
                        margin-bottom:64px;
                      }
                    }

                  }


                }


          }//container




}//features



/* ==========================================================================
3.4 feature programs
========================================================================== */

.feature-programs {
  background:$lightgray;
  .container {

    .btn {
       @include dark_btn;
     }

  }

}


/* ==========================================================================
3.5 Testimonial
========================================================================== */
.testimonial {
  background: #f04197;
  color: white;

  .container-fluid {
    padding-top:12px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border: 10vh solid rgba(0,0,0,.05);
      width: 0;
      height: 0;

      border-right-color: transparent;
      border-bottom-color: transparent;
      top: 0;
      left: 0;
    }
    &:after {
      content: "";
      position: absolute;
      border: 10vh solid rgba(0,0,0,.05);
      width: 0;
      height: 0;

      border-left-color: transparent;
      border-top-color: transparent;
      bottom: 0;
      right: 0;
    }
    h4 {
      margin-left:72px;
      margin-top: 32px;
    }
      .carousel-inner {

        .carousel-item{
           .container {
             i {
               text-align: center;
               display: block;
               font-size: 32px;
               color: rgba(0,0,0,.2);
               padding: 32px;

             }

             .text-wrapper {
               text-align: center;
             }

             .author-wrapper {
               text-align: center;
               h6{
                 font-size: 12px;
                 margin-bottom: 0;
               }
               p{
                 font-weight: 200;
                 font-size: 10px;
                 padding: 0 0 64px;
               }
             }
           }


        }



      }



  }
}




/*
################
4. Career
################
*/


/* ==========================================================================
4.1 banner
=========================================================================== */
.career-banner {
  height:80vh;
  background: url('../img/career-placeholder.png') center center no-repeat;
  background-size: cover;
  position: relative;

  .career-slogan {
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    background: rgba(31,30,30,0.2);
    padding: 32px 0;
    h1 {
      text-align: center;
      font-weight: 200;
      line-height: 48px;
      color: white;
      animation-duration: 2s;

      @media screen and(max-width:375px){
        line-height: 28px;
        font-size: 22px;
    }

    }

    p {
      padding-top: 8px;
      text-align: center;
      color: #f2f2f2;
      font-weight: 100;
      margin-bottom: 0;
      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

}



/* ==========================================================================
4.3 Department
=========================================================================== */
.department {
  padding:32px 0 0;
  text-align: center;
  font-weight: 200;
  .container {




    .row {

      font-weight: 200;
      div.col-md-4 {
        height:250px;
        padding:0;
        margin: 0;
        border: 4px solid white;;
        text-align: center;
        overflow: hidden;
        position:relative;


        div {
          background-size: cover;
          position: absolute;
          height: 100%;
          width: 100%;
          -moz-transition: all 0.3s linear;
          -webkit-transition: all 0.3s linear;
          transition: all 0.3s linear;
          -moz-transform: scale(1,1);
          -webkit-transform: scale(1,1);
          transform: scale(1,1);
          z-index: -1;
        }


        h4 {
          color: $white;
          margin-top: 100px;
          text-shadow: gray 3px 3px 10px ;
          display: inline-block;
          font-weight: 200;
        }

        &:hover >div {
          -moz-transform: scale(1.1,1.1);
          -webkit-transform: scale(1.1,1.1);
          transform: scale(1.1,1.1);

        }



      }

      &:hover {
        cursor:pointer;
      }
    }

    p {
      color:black;
      font-weight: 200;
      text-align: center;
      padding: 32px 0;

      @media screen and (max-width: 375px){
        font-size: 12px;
      }

      a {
        text-decoration: underline;
        cursor: pointer;
        color: black;
      }
    }



  }
}

/* ==========================================================================
4.4 CTA
=========================================================================== */
.career-cta.jumbotron {
  text-align: center;

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* ==========================================================================
4.4 we love our people
=========================================================================== */

.loveourpeople {
  padding: 80px 0 80px;
  margin-bottom: 32px;
  font-weight: 200;
  .container {
    text-align: center;
    padding: 0 64px;

    h3 {
      margin-bottom: 40px;
      font-weight: 200;
    }
    .row {
      img {
        width: 100%;
        margin: 0 auto;
        padding: 8px;
      }
    }
  }
}

/*
################
5. Footer
################
*/

/* ==========================================================================
5.1 Social
========================================================================== */
.social {
  padding-top: 64px;
  padding-bottom: 16px;
  background-color: $lightblack;

  .row {
    i {
      font-size: 20px;
      margin-top: 30px;
      color: white;
      padding: 0 24px;
    }

    p {
      color: white;
      font-size: 10px;
      margin-top: 32px;
      margin-bottom: 16px;
    }

    .col-md-1 {
      text-align: center;
      a {
        color: white;
      }
    }
  }
}


/* ==========================================================================
5.2 Footer
========================================================================== */
footer {
  background-color: $brand-inverse;
  text-align: center;
  color: white;
  padding: 20px 0;
  p {
    font-size: 10px;
    margin-bottom: 0;

  }
}

